# .env.example (frontend)
VITE_API_URL="http://127.0.0.1:8000"
#toggle between "development" or "production"  
#to enable or disable whether you want to use stored images for testing
VITE_DEVMODE="development"