# .env.example (backend)
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="your_db_user"
DB_NAME="your_db_name"
DB_PWD="your_db_password"
NJ_TRANSIT_USER="your_nj_transit_user"
NJ_TRANSIT_PWD="your_nj_transit_password"
NJ_TRANSIT_TOKEN="your_nj_transit_token"